body {
  background-color: #f3f2ed;
  font-family: MADE TOMMY Soft;
}

#box {
  background-color: #f3f2ed;
  width: 275px;
  height: 30px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: opx 25px;
}

input {
  width: 240px;
  border: none;
  outline: none;
  background: none;
  font-size: 14px;
}

.fa-magnifying-glass:hover {
  color: #666666;
  cursor: pointer;
}
/* ------------------------------------------------------------------index.html------------------------------------------------------------------------- */
#navbarNav {
  font-size: 14px;
}

#hastag {
  text-align: left;
  padding-top: 500px;
  margin-right: -110px;
  padding-left: 10px;
  font-weight: 400;
  line-height: 21px;
  font-size: 17px;
}

#sepatu1 {
  width: 1065.83px;
  margin-left: 100px;
  margin-top: -40px;
}

#shadow {
  margin-left: 390px;
  margin-top: -70px;
  position: absolute;
  width: 600px;
  height: 30px;
  background: #000000;
  opacity: 0.4;
  filter: blur(25px);
  transform: rotate(-2.1deg);
}

#sepatu2 {
  position: absolute;
  width: 382.85px;
  margin-top: 450px;
}

#quote {
  position: absolute;
  width: 198px;
  height: 43px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #3c4043;
}

.footer2 {
  width: 272px;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #80868b;
  margin-left: 75px;
  padding-top: 20px;
}

.ig {
  margin-right: 40px;
  padding-left: 30px;
}

.twit,
.ig {
  color: #80868b;
}

.frame {
  width: 100%;
  margin: 40px auto;
  text-align: center;
  margin-top: -160px;
}
button {
  margin: 20px;
  outline: none;
}

.custom-btn {
  width: 210px;
  height: 90px;
  padding: 10px 70px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  border-radius: 3px;
  border: none;
}

.btn-15 {
  background: #fff3b2;
  opacity: 0.85;
  color: #000;
  z-index: 1;
  border-radius: 3px;
}
.btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: #000;
  transition: all 0.3s ease;
  border-radius: 3px;
}
.btn-15:hover {
  color: #fffced;
}
.btn-15:hover:after {
  left: 0;
  width: 100%;
}
.btn-15:active {
  top: 2px;
}

/*---------------------------------------------------------------------- Shop.html --------------------------------------------------------------------------------*/

.cmp {
  padding-top: 40px;
  font-size: 20px;
}

.cmp1 {
  padding-top: 70px;
}

.card {
  background-color: #f3f2ed;
  text-decoration: none;
}

.card-text {
  color: #3c4043;
}

.card-idr {
  color: #7c0000;
}

.ven {
  padding-top: 60px;
  font-size: 20px;
}

.ven1 {
  padding-top: 90px;
}

/* ----------------------------------------------------------------------Our Story------------------------------------------------------------------------------------ */

.cover-body {
  background-image: url(img/bg2.png);
  background-size: 100% 100%;
}

.cover-content {
  margin-top: -80px;
  padding-bottom: 241px;
}

.cover-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 400px;
}

.coba1 {
  color: #f3f2ed;
}

.title-cover {
  font-size: 60px;
  font-family: MADE TOMMY Soft;
  color: #ffffff;
  font-style: normal;
  font-weight: lighter;
  font-style: Poppins;
  margin-bottom: 170px;
}

.story {
  padding-top: 50px;
  width: 558px;
  font-family: Poppins;
  font-style: normal;
  font-weight: lighter;
  font-size: 75px;
}

.story2 {
  padding-top: 80px;
  padding-bottom: 50px;
  font-family: Poppins;
  font-weight: 300;
  font-size: 18px;
  line-height: 52px;
  text-align: justify;
}

#logo {
  background-color: #3c4043;
  padding-top: 250px;
  display: flex;
  justify-content: center;
}

.logo {
  margin-top: -160px;
  font-family: "Azonix";
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 151px;
  color: #f3f2ed;
}

.footer3 {
  width: 272px;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #80868b;
  margin-left: 75px;
  padding-top: 20px;
}

/* ------------------------------------------------------------Blog.html------------------------------------------------------------------- */

#satu {
  display: flex;
  justify-content: start;
  padding-left: 120px;
  margin-top: -400px;
}

.title-sko {
  width: 44px;
  font-family: "Azonix";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.isi-sko {
  margin-top: 25px;
  margin-left: -45px;
}

#cus {
  display: flex;
  justify-content: start;
  padding-left: 120px;
  margin-top: -400px;
}

.cus {
  width: 190px;
  margin-right: -50px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}

.Contak {
  margin-top: 31px;
  margin-left: -137px;
  line-height: 35px;
}

.Contak > a {
  text-decoration: none;
  color: #f3f2ed;
}

#ala {
  margin-top: -400px;
  padding-right: 110px;
  text-align: left;
}

.ala {
  width: 190px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.ala2 {
  margin-top: -8px;
}

#bran {
  display: flex;
  justify-content: start;
  padding-left: 120px;
  margin-top: -230px;
}

.bran {
  width: 190px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}

.brand1 {
  width: 75px;
  height: 35px;
  border-radius: 5px;
  margin-top: 30px;
  margin-left: -190px;
}

.brand2 {
  width: 75px;
  height: 37px;
  border-radius: 5px;
  margin-top: -60px;
  margin-left: -100px;
}

.brand3 {
  width: 75px;
  height: 35px;
  border-radius: 5px;
  margin-top: -110px;
  margin-left: 5px;
}

#cs {
  display: flex;
  justify-content: start;
  margin-top: -255px;
}

.icon2 {
  margin-top: 140px;
  margin-left: -255px;
}

/* -----------------------------------------------------------------Compass------------------------------------------------------------------ */

.carousel-control-prev {
  margin-left: -50px;
  position: absolute;
  top: 270px;
  background: #3c4043;
  padding: 20px;
  width: 50px;
  height: 20px;
}

.carousel-control-next {
  margin-right: -50px;
  position: absolute;
  top: 270px;
  background: #3c4043;
  padding: 20px;
  width: 50px;
  height: 20px;
}

.oke {
  padding: 10px;
  position: absolute;
  top: 10px;
}

.tittle {
  font-family: "MADE Tommy Soft";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: #3c4043;
}

.radio {
  width: 18px;
  border: none;
  background-color: #fff3b2;
}

.size {
  display: flex;
  justify-content: start;
}

.lab {
  margin-top: 55px;
  margin-left: -18px;
}

#Shop {
  margin-top: 25px;
  text-align: center;
  fill-opacity: 0%;
  filter: none;
  color: #3c4043;
  font-weight: bold;
}

.rectangle {
  width: 200px;
  height: 80px;
  background-color: rgba(255, 243, 178, 0.95);
  filter: opacity(1px);
  border-radius: 3px;
  text-decoration: none;
}

#rectangle {
  display: flex;
  justify-content: end;
}
