body {
  background-color: #f3f2ed;
  font-family: MADE TOMMY Soft;
}

/* ------------------------------------------------------------------index.html------------------------------------------------------------------------- */

#hastag {
  text-align: left;
  padding-top: 500px;
  margin-right: -110px;
  padding-left: 10px;
  font-weight: 400;
  line-height: 21px;
  font-size: 17px;
}

.rectangle {
  width: 240px;
  height: 97px;
  background-color: rgba(255, 243, 178, 0.95);
  filter: opacity(1px);
  border-radius: 3px;
  text-decoration: none;
}

#rectangle {
  display: flex;
  justify-content: center;
  margin-top: -190px;
}

#Shop {
  margin-top: 35px;
  text-align: center;
  fill-opacity: 0%;
  filter: none;
  color: #3c4043;
}

#sepatu1 {
  width: 1065.83px;
  margin-left: 100px;
  margin-top: -40px;
}

#shadow {
  margin-left: 390px;
  margin-top: -70px;
  position: absolute;
  width: 600px;
  height: 30px;
  background: #000000;
  opacity: 0.4;
  filter: blur(25px);
  transform: rotate(-2.1deg);
}

#sepatu2 {
  position: absolute;
  width: 382.85px;
  padding-top: 450px;
}

#quote {
  position: absolute;
  width: 198px;
  height: 43px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #3c4043;
}

.footer2 {
  width: 272px;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #80868b;
  margin-left: 75px;
  padding-top: 20px;
}

.ig {
  margin-right: 40px;
  padding-left: 30px;
}

.twit,
.ig {
  color: #80868b;
}

/*---------------------------------------------------------------------- Shop.html --------------------------------------------------------------------------------*/

.cmp {
  padding-top: 40px;
  font-size: 20px;
}

.cmp1 {
  padding-top: 70px;
}

.card {
  background-color: #f3f2ed;
  text-decoration: none;
}

.card-text {
  color: #3c4043;
}

.card-idr {
  color: #7c0000;
}

.ven {
  padding-top: 60px;
  font-size: 20px;
}

.ven1 {
  padding-top: 90px;
}
